Extracting Raw Data from the Database

In [33]:
import pymongo
import pandas as pd

# Establish MongoDB connection
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client["j-elevate"]  # Replace with your database name

# Extract data from different collections
users_collection = db["users"] 
courses_collection = db["courses"]
skills_collection = db["skills"]
departments_collection = db["departments"]
certifications_collection = db["certifications"]

# Convert collections to DataFrames
users_df = pd.DataFrame(list(users_collection.find()))
courses_df = pd.DataFrame(list(courses_collection.find()))
skills_df = pd.DataFrame(list(skills_collection.find()))
departments_df = pd.DataFrame(list(departments_collection.find()))
certifications_df = pd.DataFrame(list(certifications_collection.find()))

Dropping unwanted rows and columns

1.Users

In [34]:

users_df = users_df[users_df['role'] != 'admin']
users_df = users_df.drop(columns=['password','role','__v','createdAt','updatedAt'])
print(users_df)

                         _id firstName  lastName                       email  \
1   66fe457006024c48cc3ca43f    Hannah     Jones    hannah.jones@company.com
2   66fe457006024c48cc3ca440     Grace     Brown     grace.brown@company.com
3   66fe457006024c48cc3ca441     David   Johnson   david.johnson@company.com
4   66fe457006024c48cc3ca442    Hannah    Miller   hannah.miller@company.com
5   66fe457006024c48cc3ca443   Charlie    Taylor  charlie.taylor@company.com
6   66fe457006024c48cc3ca444      Jane     Jones      jane.jones@company.com
7   66fe457006024c48cc3ca445     Alice   Johnson   alice.johnson@company.com
8   66fe457006024c48cc3ca446      Jane    Taylor     jane.taylor@company.com
9   66fe457006024c48cc3ca447      Jane   Johnson    jane.johnson@company.com
10  66fe457006024c48cc3ca448     Grace    Miller    grace.miller@company.com
11  66fe457006024c48cc3ca449    Hannah    Thomas   hannah.thomas@company.com
12  66fe457006024c48cc3ca44a       Bob  Williams    bob.williams@company.com
13  66fe457006024c48cc3ca44b    Hannah    Taylor   hannah.taylor@company.com
14  66fe457006024c48cc3ca44c   Charlie    Wilson  charlie.wilson@company.com
15  66fe457006024c48cc3ca44d      John     Jones      john.jones@company.com
16  66fe457006024c48cc3ca44e       Bob     Davis       bob.davis@company.com
17  66fe457006024c48cc3ca44f     Grace  Williams  grace.williams@company.com
18  66fe457006024c48cc3ca450     Alice     Moore     alice.moore@company.com

            employeeID                department                  designation  \
1   EMP172793995132518  66fe298f1cf3c64a6475331d                ETL Developer
2   EMP172793995132590  66fe298f1cf3c64a64753329  Junior Full Stack Developer
3   EMP172793995132625  66fe298f1cf3c64a6475331d         Senior Data Engineer
4   EMP172793995132617  66fe298f1cf3c64a64753329         Full Stack Developer
5   EMP172793995132737  66fe298f1cf3c64a6475331d                Data Engineer
6   EMP172793995132750  66fe298f1cf3c64a6475331d         Senior Data Engineer
7   EMP172793995132776  66fe298f1cf3c64a6475332f      Junior Business Analyst
8   EMP172793995132834  66fe298f1cf3c64a64753329  Junior Full Stack Developer
9   EMP172793995132855  66fe298f1cf3c64a64753323    Machine Learning Engineer
10  EMP172793995132833  66fe298f1cf3c64a6475332f      Junior Business Analyst
11   EMP17279399513297  66fe298f1cf3c64a6475331d                Data Engineer
12  EMP172793995132927  66fe298f1cf3c64a6475331d                Data Engineer
13  EMP172793995132984  66fe298f1cf3c64a64753323        Junior Data Scientist
14  EMP172793995133039  66fe298f1cf3c64a6475332f        Management Consultant
15  EMP172793995133015  66fe298f1cf3c64a6475331d               Data Architect
16  EMP172793995133099  66fe298f1cf3c64a6475332f             Business Analyst
17  EMP172793995133113  66fe298f1cf3c64a64753329            Backend Developer
18  EMP172793995133120  66fe298f1cf3c64a64753323    Machine Learning Engineer

                                               skills  points  \
1   [ Python Programming,  Natural Language Proces...     236
2                                                  []       0
3                                                  []       0
4                                                  []       0
5                                                  []       0
6                                                  []       0
7                                                  []       0
8                                                  []       0
9                                                  []       0
10  [ Business Analysis,  Data Visualization,  Bus...     255
11                                                 []       0
12                                                 []       0
13  [ Computer Programming,  Data Analysis,  Pytho...     147
14                                                 []       0
15                                                 []       0
16                                                 []       0
17  [ Database Design,  Databases,  HTML and CSS, ...     149
18  [ Machine Learning,  Feature Engineering,  Gen...     324

                                              courses
1   [{'courseId': 66fe20076f4453256b07a954, 'type'...
2                                                  []
3                                                  []
4                                                  []
5                                                  []
6                                                  []
7                                                  []
8                                                  []
9                                                  []
10  [{'courseId': 66fe20076f4453256b07a956, 'type'...
11                                                 []
12                                                 []
13  [{'courseId': 66fe20076f4453256b07a98e, 'type'...
14                                                 []
15                                                 []
16                                                 []
17  [{'courseId': 66fe20086f4453256b07ac4e, 'type'...
18  [{'courseId': 66fe20076f4453256b07a95a, 'type'...

2.Courses

In [35]:
courses_df = courses_df.drop(columns=['__v','createdAt','updatedAt'])

3.Departments

In [36]:
departments_df = departments_df.drop(columns=['__v','createdAt'])

4.Skills

In [37]:

skills_df = skills_df.drop(columns=['__v','createdAt','updatedAt'])

5.Certifications

In [38]:
print(certifications_df)
certifications_df = certifications_df.drop(columns=['__v','createdAt','updatedAt'])

                        _id                    userId  \
0  6703aaf49d16d65ad2b77f0c  66fe457006024c48cc3ca43f
1  6703ab0e9d16d65ad2b77f12  66fe457006024c48cc3ca43f
2  6703cf83f11c8f97963ac8b5  66fe457006024c48cc3ca43f
3  6704a8a7182e42f518328c77  66fe457006024c48cc3ca448
4  6704a8aa182e42f518328c7e  66fe457006024c48cc3ca448
5  6704a8ad182e42f518328c84  66fe457006024c48cc3ca44f
6  6704a8ad182e42f518328c8c  66fe457006024c48cc3ca450
7  6704a8af182e42f518328c94  66fe457006024c48cc3ca450

                   courseId          completionDate               createdAt  \
0  66fe20076f4453256b07a954 2024-10-07 09:33:17.653 2024-10-07 09:33:40.810
1  66fe20076f4453256b07a95b 2024-10-07 09:33:31.204 2024-10-07 09:34:06.420
2  66fe20086f4453256b07aaed 2024-10-07 12:09:24.130 2024-10-07 12:09:39.940
3  66fe20076f4453256b07a956 2024-10-08 03:31:34.111 2024-10-08 03:36:07.318
4  66fe20086f4453256b07ac43 2024-10-08 03:30:45.777 2024-10-08 03:36:10.858
5  66fe20086f4453256b07ac7e 2024-10-08 03:35:44.079 2024-10-08 03:36:13.092
6  66fe20076f4453256b07a97e 2024-10-08 03:34:23.551 2024-10-08 03:36:13.971
7  66fe20076f4453256b07a965 2024-10-08 03:34:05.264 2024-10-08 03:36:15.034

                updatedAt  __v  isApproved
0 2024-10-07 09:33:40.811    0        True
1 2024-10-07 09:34:06.420    0       False
2 2024-10-07 12:09:39.941    0        True
3 2024-10-08 03:36:07.318    0        True
4 2024-10-08 03:36:10.858    0        True
5 2024-10-08 03:36:13.092    0        True
6 2024-10-08 03:36:13.971    0        True
7 2024-10-08 03:36:15.034    0        True

In [39]:
# Save the raw files
users_df.to_csv('../DATA_RAW/raw_users.csv', index=False)
courses_df.to_csv('../DATA_RAW/raw_courses.csv', index=False)
departments_df.to_csv('../DATA_RAW/raw_departments.csv', index=False)
skills_df.to_csv('../DATA_RAW/raw_skills.csv', index=False)
certifications_df.to_csv('../DATA_RAW/raw_certifications.csv', index=False)