Libraries

In [33]:
import pandas as pd
import ast 
import re
import json  # Ensure you import the json module
from bson import ObjectId

Loading the data from raw to prep layer

In [34]:
users_df = pd.read_csv('../../Raw/DATA_RAW/raw_users.csv')
skills_df = pd.read_csv('../../Raw/DATA_RAW/raw_skills.csv')
departments_df = pd.read_csv('../../Raw/DATA_RAW/raw_departments.csv')
courses_df = pd.read_csv('../../Raw/DATA_RAW/raw_courses.csv')
certifications_df = pd.read_csv('../../Raw/DATA_RAW/raw_certifications.csv')

Cleaning the users table

In [36]:
def clean_and_parse_courses(course_list_str):
    try:
        # Remove ObjectId and datetime using regex, replace with simple strings
        cleaned_str = re.sub(r"ObjectId\('([^']+)'\)", r'"\1"', course_list_str)  # Replace ObjectId with string
        cleaned_str = re.sub(r"datetime\.datetime\(([^)]+)\)", r'"\1"', cleaned_str)  # Replace datetime with string
        
        # Convert cleaned string into JSON compatible format
        course_list = json.loads(cleaned_str.replace("'", '"'))  # Replace single quotes with double quotes for valid JSON
        return course_list
    except Exception as e:
        print(f"Error parsing course data: {e}")
        return None

# Apply cleaning and parsing function to 'courses' column
users_df['courses'] = users_df['courses'].apply(clean_and_parse_courses)

# Explode the 'courses' column to split list of dicts into individual rows
users_exploded_df = users_df.explode('courses')

# Convert the exploded 'courses' dictionaries into separate columns
courses_normalized_df = pd.json_normalize(users_exploded_df['courses'])

# Drop the original 'courses' column and combine with normalized columns
final_users_df = users_exploded_df.drop(columns=['courses']).join(courses_normalized_df)

# Display final DataFrame
print(final_users_df)

Error parsing course data: Expecting value: line 1 column 157 (char 156)
Error parsing course data: Expecting value: line 1 column 157 (char 156)
Error parsing course data: Expecting value: line 1 column 157 (char 156)
Error parsing course data: Expecting value: line 1 column 157 (char 156)
Error parsing course data: Expecting value: line 1 column 157 (char 156)
                         _id firstName  lastName                       email  \
0   66fe457006024c48cc3ca43f    Hannah     Jones    hannah.jones@company.com
1   66fe457006024c48cc3ca440     Grace     Brown     grace.brown@company.com
2   66fe457006024c48cc3ca441     David   Johnson   david.johnson@company.com
3   66fe457006024c48cc3ca442    Hannah    Miller   hannah.miller@company.com
4   66fe457006024c48cc3ca443   Charlie    Taylor  charlie.taylor@company.com
5   66fe457006024c48cc3ca444      Jane     Jones      jane.jones@company.com
6   66fe457006024c48cc3ca445     Alice   Johnson   alice.johnson@company.com
7   66fe457006024c48cc3ca446      Jane    Taylor     jane.taylor@company.com
8   66fe457006024c48cc3ca447      Jane   Johnson    jane.johnson@company.com
9   66fe457006024c48cc3ca448     Grace    Miller    grace.miller@company.com
10  66fe457006024c48cc3ca449    Hannah    Thomas   hannah.thomas@company.com
11  66fe457006024c48cc3ca44a       Bob  Williams    bob.williams@company.com
12  66fe457006024c48cc3ca44b    Hannah    Taylor   hannah.taylor@company.com
13  66fe457006024c48cc3ca44c   Charlie    Wilson  charlie.wilson@company.com
14  66fe457006024c48cc3ca44d      John     Jones      john.jones@company.com
15  66fe457006024c48cc3ca44e       Bob     Davis       bob.davis@company.com
16  66fe457006024c48cc3ca44f     Grace  Williams  grace.williams@company.com
17  66fe457006024c48cc3ca450     Alice     Moore     alice.moore@company.com

            employeeID                department                  designation  \
0   EMP172793995132518  66fe298f1cf3c64a6475331d                ETL Developer
1   EMP172793995132590  66fe298f1cf3c64a64753329  Junior Full Stack Developer
2   EMP172793995132625  66fe298f1cf3c64a6475331d         Senior Data Engineer
3   EMP172793995132617  66fe298f1cf3c64a64753329         Full Stack Developer
4   EMP172793995132737  66fe298f1cf3c64a6475331d                Data Engineer
5   EMP172793995132750  66fe298f1cf3c64a6475331d         Senior Data Engineer
6   EMP172793995132776  66fe298f1cf3c64a6475332f      Junior Business Analyst
7   EMP172793995132834  66fe298f1cf3c64a64753329  Junior Full Stack Developer
8   EMP172793995132855  66fe298f1cf3c64a64753323    Machine Learning Engineer
9   EMP172793995132833  66fe298f1cf3c64a6475332f      Junior Business Analyst
10   EMP17279399513297  66fe298f1cf3c64a6475331d                Data Engineer
11  EMP172793995132927  66fe298f1cf3c64a6475331d                Data Engineer
12  EMP172793995132984  66fe298f1cf3c64a64753323        Junior Data Scientist
13  EMP172793995133039  66fe298f1cf3c64a6475332f        Management Consultant
14  EMP172793995133015  66fe298f1cf3c64a6475331d               Data Architect
15  EMP172793995133099  66fe298f1cf3c64a6475332f             Business Analyst
16  EMP172793995133113  66fe298f1cf3c64a64753329            Backend Developer
17  EMP172793995133120  66fe298f1cf3c64a64753323    Machine Learning Engineer

                                               skills  points
0   [' Python Programming', ' Natural Language Pro...     236
1                                                  []       0
2                                                  []       0
3                                                  []       0
4                                                  []       0
5                                                  []       0
6                                                  []       0
7                                                  []       0
8                                                  []       0
9   [' Business Analysis', ' Data Visualization', ...     255
10                                                 []       0
11                                                 []       0
12  [' Computer Programming', ' Data Analysis', ' ...     147
13                                                 []       0
14                                                 []       0
15                                                 []       0
16  [' Database Design', ' Databases', ' HTML and ...     149
17  [' Machine Learning', ' Feature Engineering', ...     324